* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/static/img/base.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100%;
}

.menu-area li a {
    text-decoration: none;
}

.menu-area li {
    list-style-type: none;
}

.custom-padding {
    padding-top: 25px;
}

nav {
    position: relative;
    width: calc(92% - 60px);
    height: 45px;
    margin: 0 auto;
    padding: 10px 0;
    background: #333;
    z-index: 1;
    text-align: right;
    padding-right: 2%;
}

.logo {
    padding: 3px;
    width: 15%;
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    text-align: left;
    padding-left: 2%;
}

.menu-area li {
    display: inline-block;
}

.menu-area a {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 0 25px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    z-index: 1;
}

.menu-area a:hover {
    background: tomato;
    color: #fff;
}

.menu-area a:hover:after {
    transform: translateY(-50%) rotate(-35deg);
}

nav:before {
    position: absolute;
    border-top: 10px solid #333;
    border-right: 10px solid #333;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 100%;
    left: 0;
}

nav:after {
    position: absolute;
    border-top: 10px solid #333;
    border-left: 10px solid #333;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 100%;
    right: 0;
}


/* ignore the code below */


.link-area {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 15px;
    border-radius: 40px;
    background: tomato;
}

.link-area a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.site-footer {
    height: 50px;
}

.copyright {
    text-align: center;
    color:white;
}